body{
	font-family: sans-serif;
}

#remote-div li{	
	display: inline;
	list-style-type: none;
}

#remote-div li div{
	background: #cccccc;
	color: white;
	width: 200px;
	height: 50px;
	text-align: center;
	vertical-align: center;
}